// ============================================================================
// sftpd.policy - Security Policy Permissions for SFTPD Server
//
// This file contains a default set of security policies to be enforced by JVM
//
// $Id: sftpd.policy,v 1.3.0 2020/06/21 19:45:00 ggrandes Exp $
// ============================================================================
//
// Load with: -Djava.security.manager -Djava.security.policy=sftpd.policy
//
// Troubleshooting: -Djava.security.debug=access:failure 
// https://docs.oracle.com/javase/8/docs/technotes/guides/security/troubleshooting-security.html
// https://docs.oracle.com/javase/8/docs/technotes/guides/security/permissions.html
// https://docs.oracle.com/javase/8/docs/technotes/guides/security/PolicyFiles.html
//
grant {
  //
  permission java.util.logging.LoggingPermission "control";
  //
  permission java.util.PropertyPermission "org.bouncycastle.*", "read";
  permission java.util.PropertyPermission "org.apache.sshd.*", "read";
  permission java.util.PropertyPermission "log4j.*", "read";
  permission java.util.PropertyPermission "slf4j.*", "read";
  //
  permission java.util.PropertyPermission "sftp.*", "read";
  permission java.util.PropertyPermission "sshd.*", "read";
  permission java.util.PropertyPermission "user.dir", "read";
  permission java.util.PropertyPermission "user.name", "read";  
  permission java.util.PropertyPermission "user.home", "read";  
  // org.apache.sshd.common.SyspropsMapWrapper
  permission java.util.PropertyPermission "*", "read, write";
  //
  permission java.lang.RuntimePermission "shutdownHooks";
  permission java.lang.RuntimePermission "modifyThread";
  permission java.lang.RuntimePermission "readFileDescriptor";
  permission java.lang.RuntimePermission "writeFileDescriptor";
  permission java.lang.RuntimePermission "accessUserInformation";
  permission java.lang.RuntimePermission "fileSystemProvider";
  permission java.lang.RuntimePermission "accessDeclaredMembers";
  //
  permission java.security.SecurityPermission "putProviderProperty.BC";
  permission java.security.SecurityPermission "insertProvider.BC";
  permission java.security.SecurityPermission "putProviderProperty.EdDSA";
  permission java.security.SecurityPermission "insertProvider.EdDSA";
  //
  permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
  //
  permission java.net.SocketPermission "localhost", "listen";
  permission java.net.SocketPermission "*", "accept, resolve";
  //
  permission java.io.FilePermission "${java.home}${/}-", "read";
  permission java.io.FilePermission "${java.io.tmpdir}${/}-", "read, write, delete";
  //
  permission java.io.FilePermission "/etc/resolv.conf", "read";
  permission java.io.FilePermission "/etc/ssh/moduli", "read";
  permission java.io.FilePermission "${sftp.home}/-", "read";
  permission java.io.FilePermission "${sftp.home}/keys/hostkey.ser", "read, write";
  permission java.io.FilePermission "${sftp.home}/keys/hostkey.pem", "read, write";
  // Home for Users
  permission java.io.FilePermission "${sftp.home}/home/-", "read, write, delete";
  // Directory for logs (if use log4j)
  permission java.io.FilePermission "${sftp.home}/log/-", "read, write";
  //
  // This Disable all security
  //permission java.security.AllPermission;
};
